database: db/db.sqlite3
asn_db: db/asn_db.txt

reason: relay register
url_base: https://c3voc.de/32c3/register/relay/

api_key: möpmöp
encryption_key: todeskey

mqtt:
  enabled: false
  user: möp
  password: bla
  server: example.local

basic_auth:
  user: foo
  password: baz
