%h2= "delete #{@tag.name}"

%form{action: url("#{settings.sub_path}/tag/#{@tag.name}"), method: 'POST'}
  %input{ type: "hidden", name:"_method", value: "DELETE" }
  %input{ type: "submit", value:"Delete" }
