%h2 create new tag

%form{action: url("#{settings.sub_path}/tag/new"), method: 'post'}
  %input{name: '_method', :type => 'hidden', :value => 'put'}/

  %p
    %label name:
    %input{name: 'tag[name]', type: 'text'}/

  %p
    %input{name: 'commit', type: 'submit', value: 'new'}/
