!!!5
%html
  %head
    %title register relays

  %body
    %h1
      %a{ href: url('/') } 31c3 relays

    = yield

    :css
      .menu {
        float: right;
        border: 1px solid black;
        padding-left: 0px;
        padding-right: 0px;
        list-style-type: '★';
      }

      .menu ul {
        padding-left: 20px;
        padding-right: 20px;
        list-style-type: '★';
      }

      .menu ul li {
        list-style-type: '★';
      }

      .head_menu {
        margin-bottom: 1px;
        padding-left: 20px;
      }

      .head_menu li {
        display: inline;
        list-style-type: none;
        padding-right: 5px;
      }

      .head_status {
        margin-top: 0px;
        padding-left: 20px;
      }

      .head_status li {
        display: inline;
        list-style-type: none;
        padding-right: 5px;
      }

      a {
        text-decoration: none;
        color: #28C3AB;
        background-color: #000;
      }

      table a {
        text-decoration: none;
        color: black;
        background-color: white;
      }

      label {
        display: inline-block;
        width: 100px;
      }

      .action {
        text-decoration: none;
        color: #28C3AB;
        background-color: #000;
      }

      .public {
        width: 5px;
        background-color: green;
      }

      .non_public {
        width: 5px;
        background-color: red;
      }
